# IDEs and Editors
.idea/
.vscode/

# Python-specific 
__pycache__/
*.py[cod]
*.so
__pycache__

# Package management
/venv/
/env/
Pipfile.lock 

# Data files (adjust if you want to keep these in version control) 
*.sqlite3 

# Logs 
log.txt

# Other
.DS_Store  # For macOS users

api.log